<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Library</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Book Management System</h1>
    <hr>
    <h2>Save User</h2>

    <form action="#" th:action="@{/saveUser}" th:object="${user}"
          method="POST">
        <input type="text" maxlength="30" th:field="*{username}"
               placeholder="Username" class="form-control mb-4 col-4">

        <input type="email"
               maxlength="30" th:field="*{email}"
               placeholder="Email" class="form-control mb-4 col-4">

        <input type="password"
               maxlength="30" th:field="*{password}"
               placeholder="Password" class="form-control mb-4 col-4">

        <div class="form-group">
            <label for="role">Choose role</label>
            <select th:field="*{roles}" class="form-control mb-4 col-4 selectpicker" id="role">
                <option value="">Nothing selected</option>
                <option th:each="role : ${T(com.bsuir.test.model.Role).values()}"
                        th:value="${role}"
                        th:text="${role.name}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-info col-2"> Save User</button>
    </form>

    <hr>

    <a th:href="@{/user}"> Back to Users List</a>
</div>
</body>
</html>